{% extends "base.html" %}

{% block footer %}
<footer class="md-footer">
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">

      <!-- Custom footer content -->
      <div class="md-footer-custom">
        <ul
          style="list-style: none; padding: 0; margin: 20px 0; display: flex; flex-wrap: wrap; justify-content: center; gap: 15px;">
          <li style="display: flex; align-items: center; gap: 5px;">
            <img src="{{ base_url }}/pics/yams-small.png" style="height: 20px;" alt="YAMS" />
            <a href="https://yams.media">yams.media</a>
          </li>
          <li style="display: flex; align-items: center; gap: 5px;">
            <img src="{{ base_url }}/pics/gitea-small.png" style="height: 20px;" alt="Gitea" />
            <a href="https://git.rogs.me/rogs/yams">git.rogs.me/rogs/yams</a>
          </li>
          <li style="display: flex; align-items: center; gap: 5px;">
            <img src="{{ base_url }}/pics/gitlab-small.png" style="height: 20px;" alt="GitLab" />
            <a href="https://gitlab.com/rogs/yams">gitlab.com/rogs/yams</a>
          </li>
          <li style="display: flex; align-items: center; gap: 5px;">
            <img src="{{ base_url }}/pics/github-small.png" style="height: 20px;" alt="GitHub" />
            <a href="https://github.com/rogsme/yams">github.com/rogsme/yams</a>
          </li>
          <li style="display: flex; align-items: center; gap: 5px;">
            <img src="{{ base_url }}/pics/discord-small.png" style="height: 20px;" alt="Discord" />
            <a href="https://discord.gg/Gwae3tNMST">Discord</a>
          </li>
          {% if config.site_url and "localhost" not in config.site_url %}
          <li>
            <img
              src="https://visitor-badge.laobi.icu/badge?page_id={{ page.canonical_url | urlencode }}&right_color=%235FAF63"
              alt="visitor badge" style="height: 20px;" />
          </li>
          {% endif %}
          <li>
            <a href="https://www.buymeacoffee.com/rogs">🍕 Support YAMS! 🤑</a>
          </li>
        </ul>
      </div>

      <!-- Include the default footer copyright -->
      {{ super() }}
    </div>
  </div>
</footer>
{% endblock %}